@use '@/styles/abstracts/extends' as *;
@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/typography' as *;

.select {
  position: relative;
  width: 100%;

  &__button,
  &__dropdown {
    width: 100%;
    border-radius: $border-radius-sm;
    @extend %interaction-element;
  }

  &__button {
    min-width: 90px;

    color: var(--primary-color);
    padding: $padding-sm-mobile $padding-sm-mobile;

    @include flex-with-options(row, space-between, center);
  }

  &.active &__selected__arrow {
    transform: rotate(180deg);
  }

  &.active &__dropdown {
    visibility: visible;
  }

  &__selected {
    &__arrow {
      transition: transform ease-in-out 0.3s;
      height: 12px;

      fill: var(--primary-color);
    }
  }

  &__dropdown {
    visibility: hidden;
    position: absolute;

    margin-top: $offset-lg;
    max-height: $overflow-height-sm;
    overflow-y: auto;
    z-index: $z-index-md;

    @extend %custom-scrollbar;

    &__option {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: $spacing-sm;
      align-items: center;

      label {
        cursor: pointer;
        width: 100%;
        padding-left: $padding-md-mobile;
      }

      &:hover,
      input:checked ~ label {
        background-color: var(--color-gray-400);
      }

      input:focus {
        background-color: var(--color-gray-400);
      }

      input[type='radio'] {
        position: absolute;
        left: 0;
        opacity: 0;
      }
    }
  }
}
