@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr 0.5fr;
  column-gap: $spacing-lg;
  row-gap: $spacing-xs;

  margin: 0 $margin-xl;

  @include tablet-mobile-breakpoint {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 2fr 0.5fr;
  }

  &__message {
    grid-column: span 2;

    @include tablet-mobile-breakpoint {
      grid-column: 1;
    }
  }

  &__submit {
    grid-column: 2;

    @include tablet-mobile-breakpoint {
      grid-column: 1;
    }
  }
}
