@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/typography' as *;

%backdrop {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--color-black-alpha);
}

%green-gradient-text {
  background: linear-gradient(var(--color-green-gradient));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

%reset-button-styles {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

%interaction-element {
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-gray-400);
  border-radius: $border-radius-sm;
  color: var(--primary-color);

  font-size: $font-size-3xs;
  font-family: $font-family-primary-regular;

  min-height: 40px;
}

%interaction-element-calculate-width {
  padding: 0 $padding-sm-mobile;
  width: calc(100% - $padding-xs-mobile * 2);
}

%custom-scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-gray-300);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-gray-200);
  }
}
