@use './abstracts/typography' as *;
@use './base/theme' as *;
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

:root {
  position: relative;
  background-color: var(--background-color);
  min-height: 100%vh;
  margin: auto;
  max-width: $container-main-width;
  padding: $container-inner-padding;

  @include mobile-breakpoint {
    padding: 0;
  }
}

body {
  font-family: $font-family-primary-regular;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
