@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/typography' as *;
@use '@/styles/abstracts/extends' as *;

.custom-input {
  padding-left: $padding-xs-mobile;
  padding-right: $padding-xs-mobile;
  width: calc(100% - $padding-xs-mobile * 2);

  color: var(--primary-color);
  font-size: $font-size-3xs;

  @extend %interaction-element;

  color-scheme: #{var(--color-scheme)};
}
