@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/typography' as *;
@use '@/styles/abstracts/extends' as *;

.custom-input {
  @extend %interaction-element;
  @extend %interaction-element-calculate-width;

  color-scheme: var(--color-scheme);

  & + svg {
    position: absolute;
    right: 0;
    top: 0;
    padding: $padding-xs-mobile;
    height: $size-md;
    fill: var(--primary-color);
  }
}
