@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/extends' as *;

.collapsible-container {
  cursor: pointer;
}

.arrow-down {
  fill: var(--primary-color);
  display: none;

  @include tablet-mobile-breakpoint {
    display: inline-block;
  }

  &.rotate {
    transform: rotate(180deg);
  }
}

.collapsed {
  @include tablet-mobile-breakpoint {
    display: none;
    overflow: hidden;
  }
}

.collapsible {
  align-items: center;
}
