@use '@/styles/abstracts/typography' as *;
@use '@/styles/abstracts/variables' as *;

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $padding-xs-mobile;

  &__label {
    align-self: flex-start;
  }

  &__error-text {
    visibility: hidden;
    align-self: flex-start;
    text-align: center;
    font-size: $font-size-4xs;
    color: red;

    &.invalid {
      visibility: visible;
    }
  }
}
