@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/typography' as *;
@use '@/styles/abstracts/mixins' as *;

.status {
  @include flex-with-options(row, center, center);
  gap: $spacing-xs;
  margin-bottom: $spacing-md;

  &__text {
    font-family: $font-family-primary-light;
    font-weight: 300;
    font-size: $font-size-2lg;

    @include tablet-mobile-breakpoint {
      font-size: $font-size-3xs;
    }
  }

  &__badge {
    position: relative;
    width: $size-lg;
    height: $size-lg;
    background-color: var(--color-green);
    border-radius: 50%;

    & > span {
      position: absolute;
      background-color: var(--color-green-dark);
      width: 100%;
      height: 100%;
      border-radius: inherit;
      animation: pulse 2s ease-out infinite;
    }

    @keyframes pulse {
      100% {
        opacity: 0;
        transform: scale(2);
      }
    }

    @include tablet-mobile-breakpoint {
      width: $size-sm;
      height: $size-sm;
      border-width: $border-radius-md;
    }
  }
}
